$lightBlue : rgb(4, 139, 139);

#contact{
    background-color: black;
    
}

.contact-container{
    display: block;
    padding: 80px 100px;
    .contact-title{
        color: $lightBlue;
        margin-left: 100px;
        // text-align: center;
        
    }

    .form-container{
        // width: fit-content;
        
    }

    .input{

        display: flex;
        margin: 20px 0px;
        // justify-content: center;
        
        .input-left{
            color: white;
            width: 90px;
            margin-right: 10px;
            // display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;

            .input-icon{
                // margin: auto;
                color: $lightBlue;   
                font-size: 30px;
            }
        }

        .input-right{
            color: white;
            width: 800px;
            .label{
                font-weight: bold;
                margin-bottom: 10px;

                .input-icon{
                    color: $lightBlue;   
                    margin: auto;
                    font-size: 30px;
                }
            }

            .form-input{
                color: white;
                background-color: black;
                border: 1px solid $lightBlue;
                padding: 5px 20px;
                border-radius: 10px;
                width: 80%;
            }

            .message{
                word-wrap: break-word;
                word-break: break-all;
                height: 180px;
            }
        }
    }

    .submit-button{
        background-color: black;
        color: white;
        border: 1px solid $lightBlue;
        border-radius: 10px;
        padding: 5px 25px;
        margin-top: 10px;
        margin-left: 100px;
    }

    .submit-button:hover{
        color: black;
        background-color: $lightBlue;
    }
}

@media only screen and (max-width: 617px) {
    .contact-container{
        padding: 50px 20px;
    }
}