$lightBlue : rgb(4, 139, 139);

#service{
    // background-color: #f5f5f5;
    background-color: black;
    // padding: 150px 100px;
}

.service-container{
    padding: 100px 100px;

    .service-section-title{
        font-size: 32px;
        color: $lightBlue;
        text-align: center;
    }

    .service-card-container{
        display: flex;
        justify-content: space-between;

        .card{
            width: 25%;
            background-color: inherit;
            border: none;

            .icon-container{
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                .card-icon{
                    color: $lightBlue;
                }

            }

            .service-title{
                font-size: 18px;
                color: $lightBlue;
            }

            .service-detail{
                text-align: justify;
                margin-top: 5px;
                color: white;
            }
        }
    }

    
}

@media only screen and (max-width: 840px){
    .service-container{

        padding: 100px 0px;

        .service-card-container{
            display: inline-block;

            .card{
                width: 80%;
                margin: 20px auto;
                text-align: center;
            }
        }
    }
}

